/* Основные стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

/* Стили для заголовков таблицы */
th {
    background-color: grey;
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Стили для ячеек таблицы */
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    background-color: #f2f2f2;
}

/* Стили для заголовка таблицы */
caption {
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: bold;
}

svg {
    width: 800px;
    height: 400px;
}

    svg path, line {
        fill: none;
        stroke: black;
        width: 1px;
    }

    svg text {
        font: 8px Verdana;
    }

.error-label {
    color: red;
}
